.room {
    height: 200px;
    width: 300px;
    margin-top: 50px;
    align-items: center;
    border: solid;
}
.light {
    background-color: wheat;
}
.dark {
    background-color: black;
    color: wheat;
}
.button {
    margin-left: 5px;
}